*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.texts h3 {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    color: #7300FF;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.texts h1 {
    font-size: 3rem;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

.texts p{
    font-size: 1.2rem;
    color: #414141;
    margin-bottom: 2rem;
    width: 100%;
}

.btn{
    background-color: #7300FF;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    height: 50px;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #f443d2;
    cursor: pointer;
}

.btn:active{
    background-color: #d32d9b;
    cursor: pointer;
}

#runner{
    width: 650px;
    height: 650px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.content{
    width: 480px;
    gap: 1rem; 
    margin-right: 10rem; 
    display: flex   ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: -8rem;
}

@media screen and (min-width: 1480px) {
    .main{
        background-image: url("../assets/bg-dsk.png");
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:15rem;

    }


}

@media screen and (max-width: 1480px) {
    .main{
        background-image: url("../assets/bg-dsk.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:10rem;

    }
    .content{
        width: 100%;
        gap: 1rem; 
        margin-right: 0;   
    }   

    #runner{
        width: 500px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
    }
        
    body{
        background-color: #f2f2f2;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }


    .texts h3 {
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        color: #7300FF;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .texts h1 {
        font-size: 3rem;
        color: black;
        margin-bottom: 1rem;
    }

    .texts p{
        font-size: 1.2rem;
        color: #414141;
        margin-bottom: 2rem;
    }

    .btn{
        background-color: #7300FF;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 1rem;
        padding: 10px;
        width: 100%;
        height: 50px;
        transition: background-color 0.3s;
    }

    .btn:hover{
        background-color: #f443d2;
        cursor: pointer;
    }

    .btn:active{
        background-color: #d32d9b;
        cursor: pointer;
    }

    #runner{
        width: 550px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .content{
        width: 500px;
        gap: 1rem; 
        margin-right: 5rem;   
    }
}