

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 80vw;
    background-color: #FFFFFF;
}

.frame-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.frame-one h1 {
    font-size: 50px;
    font-weight: bold;
    color: #7300FF;
    margin-bottom: 20px;
}

.frame-one p {
    font-size: 25px;
    color: #767676;
    margin-bottom: 30px;
    width: 85%;
    text-align: center;
}

.frame-one button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #7300FF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.frame-one button:hover {
    background-color: #6500a0;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 


@media screen and (max-width: 800px) {
    .main {
        width: 90vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background-color: #FFFFFF;

    }
    .frame-one {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .frame-one h1 {
        font-size: 50px;
        font-weight: bold;
        color: #7300FF;
        margin-bottom: 20px;
        text-align: center;

    }
    .frame-one p {
        font-size: 25px;
        color: #767676;
        margin-bottom: 30px;
        text-align: center;

    }
    .frame-one button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        background-color: #7300FF;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    }   

    .phone {
        display: none;
    }


    
}